*.hi
*.o
*.class
mate
mate.static
mate.opt
mate.dbg
mate.prof
mate.quickcheck
mate.hpc
mate.log
tags
*.swp
*_stub.c
*_stub.h
*.hi-boot
*.o-boot
dist/
build/
*.jar
tools/hs-boehmgc
.hpc/
*.tix
benchlog
